.container {
  margin: 0 auto;
  max-width: 760px;
  padding: 0 16px;
  box-sizing: border-box;
}

.clearfix:after,
.container:after {
  content: '';
  display: table;
  clear: both;
}

.header {
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
}
